.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--default-header-height);
}
.container {
    max-width: 100%;
    width: var(--default-header-width);
    padding: 0 var(--default-header-horizontal-spacer);
    display: flex;
}
.content {
    flex: 1;
}
