.menu-list {
    width: 224px;
    .menu-item {
        margin-left: 0;
    }
}
.menu-popper {
    padding-bottom: 8px;
}
.menu-body {
    overflow-y: auto;
}
// menu item
.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 600;
    padding: 11px 16px;
    color: var(--text-clolor);
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//Header

.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
