.wrapper {
    --search-border-radius: 92px;
    --search-hight: 46px;
    --top-space: 9px;
    --search-bottom-width: 52px;
    width: 100%;
    position: fixed;

    top: 0;
    left: 0;
    z-index: 10;
    height: var(--default-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--whrite);
}
.inner {
    width: var(--default-header-width);
    height: 100%;
    margin: 0 auto;
    padding: 0 var(--default-header-horizontal-spacer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin: 9px 0;
}
// actions
.actions {
    display: flex;
    align-items: center;
}
.layout_icon {
    display: flex;
    align-items: center;
}
.more-btn {
    padding: 4px 8px;
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    cursor: pointer;
}
.actions-btn {
    position: relative;
    background-color: transparent;
    color: #161823;
    font-size: 2.2rem;
    padding: 4px 12px;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
}

.badge {
    position: absolute;
    top: -3px;
    right: 1px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--whrite);
    font-family: var(--font-family);
    background-color: var(--primary);
}
