@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --black: #000;
    --text-clolor: #161823;
    --whrite: #fff;
    --default-header-height: 60px;
    --default-header-width: 1150px;
    --default-header-horizontal-spacer: 24px;
    --font-family: 'TikTokFont', sans-serif;
}

html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}
// css scroll
// html ::-webkit-scrollbar {
//     border-radius: 0px;
//     width: 8px;
// }

// html ::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     background-color: rgba(255, 255, 255, 0.08);
// }

// html ::-webkit-scrollbar-track {
//     border-radius: 0px;
//     background-color: rgba(0, 0, 0, 0);
// }
// css cho window
html.windows-scroll::-webkit-scrollbar {
    width: 8px;
}

html.windows-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.08);
}

html.windows-scroll::-webkit-scrollbar-track {
    background: transparent;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-clolor);
    text-decoration: none;
}
// font tiktok
@font-face {
    font-family: 'TikTokFont';
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'TikTokFont';
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'TikTokFont';
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

/* Font hiển thị đặc biệt */
@font-face {
    font-family: 'TikTokDisplayFont';
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

//custom tootip
.body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        background-color: rgba(84, 84, 84, 0.92);
    }
} /* Custom tippy tooltip */
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
